<section class="section section-sm my-3 py-5 px-5 bg-light">
  <div class="showcase">
    <h2 class="h3 mt-3 text-center">Top Projects</h2>
    <div class="row justify-content-center g-4 mb-5">
      {{ range first 5 (where .Site.RegularPages.ByDate.Reverse "Params.pinned" true)  -}}
          <div class="col">
            {{ partial "main/showcase-card.html" . -}}
          </div>
          {{ end -}}
    <!-- <p class="text-center pt-4 mb-0"><a href="https://opencollective.com/doks">Become a Sponsor</a></p> -->
  </div>
</section>
