{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">Hi <span class="wave">👋</span>, {{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-md px-4 mb-2 mt-4" href="/me/" role="button">About Me</a>
      <!-- <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p> -->
    </div>
    <!-- <iframe src='https://my.spline.design/librarydjanimation-e03a8dd7ebe8bade9d72d6d1a85aa31a/' frameborder='0' width='100%' height='600px'></iframe> -->
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="card col-lg-5">
          <h2 class="h4">🎮 Game Development</h2>
          <p>C#, Unity, UI design, interaction design, working in 2D, 3D, AR/VR, animations, and audio.</p>
        </div>
        <div class="card col-lg-5">
          <h2 class="h4">🚥 Version Control</h2>
          <p>git, GitHub, collaboration, branching, merging, requesting, reviewing, conflict management, etc.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="card col-lg-5">
          <h2 class="h4">🛢️ Database Management</h2>
          <p>sql, mysql, ORMs, mysqldb and SQLAlchemy for python, firebase.</p>
        </div>
        <div class="card col-lg-5">
          <h2 class="h4">🪰 Debugging</h2>
          <p>low level, high level, web-stack, game-dev error analysis and bug squashing.</p>
        </div>
        <div class="card col-lg-5">
          <h2 class="h4">🌐 Web Development</h2>
          <p>html, css, javascript, js-based frameworks, static and dynamic site.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="card col-lg-5">
          <h2 class="h4">🐧 Low Level & Linux/Unix Programming</h2>
          <p>bash scripting, C programming including memory management, low level data structures and algorithms, and Linux and Unix system programming. </p>
        </div>
        <div class="card col-lg-5">
          <h2 class="h4">📦 High Level & Object Oriented Programming</h2>
          <p>python, C#, javascript, high-level data-structures and algorithms, test-driven development, web-scraping.</p>
        </div>
        <div class="card col-lg-5">
          <h2 class="h4">⚙️ Systems Engineering/Devops</h2>
          <p>TCP/IP, SSH, SSL/TLS, HTTP/S, Webstack Debugging, Servers, Web Servers, Application Servers, Configuration Management, Load Balancers, Postmortems, Networking, Monitoring, Security.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
